<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title></title>
        <meta charset="utf-8">
	    <!-- Bootstrap Core CSS -->
	    <link href="{% static 'bootstrap_Login_Page/bootstrap_v.3.3.7.min.css' %}" rel="stylesheet">
    
    </head>
    <body>
        <div class="container" align="center">
            <h1>Register</h1>
            <div style="width:30%">
       			 <form action="userRegistration/" method="POST">
                 	{%csrf_token%}
                    
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    
                    <div class="form-group has-errors text-danger small">
                        {{field.errors}}
                    </div>
                                        
                    <div class="form-group">                    
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input id="username" type="text" class="form-control" name="username" value="" placeholder="User Name">                                        
						</div>
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input id="userSurName" type="text" class="form-control" name="userSurName" value="" placeholder="Sur Name">                                        
						</div>
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input id="email" type="text" class="form-control" name="email" value="" placeholder="Email">                                        
						</div>
	                    <div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="password" type="password" class="form-control" name="password" placeholder="Password">
						</div>
	                    <div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="repPassword" type="Password" class="form-control" name="repPassword" placeholder="Repit Password">
						</div>
					</div>
					
					<div class="row">
               			<div class="col-lg-6 col-md-6">
							<button class="btn btn-primary" style="width:100%" type="submit">SAVE</button>
							<input id="ToPrintDownloadCSV" type="submit" class="btn btn-outline btn-primary btn-lg" value="Imprimir" data-toggle="tooltip" data-placement="left" title="Visualizar el informe de cierre de caja."/>
						</div>
                        <div class="col-lg-6 col-md-6">
                            <a href="/login/" class="btn btn-danger" style="width:100%">CANCELAR</a>
                        </div>
					</div>
  				</form>
			</div>
        </div>
    </body>
    <footer>
        <div class="container">
            <div class="row">
                
                    <hr class="small">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Reporting</strong></h4>
                    <ul class="list-unstyled"> 
                        <li><i class="fa fa-phone fa-fw"></i> (+598) 98 555 555</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:info@dinnpro.com">info@reporting.com</a>
                        </li>
                    </ul>
                    <p class="text-muted">Copyright &copy; Dinnpro - Soul 2018</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>
    
</html>